%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:programs, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:programs, :new)

.tabs-content
  = form_for :program, url(:programs, :create), :class => 'form-horizontal' do |f|
    =partial 'programs/form', :locals => { :f => f }
