body {
  font-family: arial;
  color: #444;
  background-color: #FAFAFA;
}

em {
  font-style: normal;
  font-weight: bold;
}

.application {
  margin: 0 auto;
  text-align: center;
}

.application h1 {
  display: none;
}

.application p span {
  display: block;
}

.intro {
  text-align: justify;
}

.pages {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu {
  font-family: 'Marck Script', cursive;
  font-size: 1.4em;
  text-align: right;
  float: right;
  padding: 0;
  margin: 20px 0;
  width: 70%;
}

.menu li {
  display: inline;
  padding: 0;
  margin: 0;
}

.menu li:before {
  display: inline;
  content: ' | ';
  color: red;
}

.menu li:first-child:before {
  content: '';
}

.menu li a {
  text-decoration: none;
  color: #444;
}

.menu li a:active,
.menu li a:focus,
.menu li a:hover {
  color: red;
}

.logo {
  float: left;
  margin: 0;
}

.main {
  clear: both;
}

.pages h2 {
  font-family: 'Marck Script', cursive;
  font-size: 1.8em;
  border-bottom: 1px solid #444;
}

.pages h3 {
  font-size: 1em;
}

.musician {
  clear: both;
  margin-bottom: 40px;
}

.program,
.musician p {
  margin-top: 0;
  text-align: justify;
}

.musician h4 {
  display: none;
}

.musician img {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 200px;
}

.musician .left img {
  float: left;
  margin-left: 0px;
  margin-right: 20px;
}

.programs,
.years {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.programs li,
.years li {
  display: inline;
  padding: 0;
  margin: 0;
}

.programs li:before,
.years li:before {
  display: inline;
  content: ' | ';
  color: black;
}

.programs li:first-child:before,
.years li:first-child:before {
  content: '';
}

.programs li a,
.years li a {
  text-decoration: none;
  color: #444;
}

.programs li a:active,
.programs li a:focus,
.programs li a:hover,
.years li a:active,
.years li a:focus,
.years li a:hover {
  color: red;
}

.concert {
  clear: both;
}

.concert img {
  float: left;
  margin: 0 20px 20px 0;
}

.link-to-top {
  text-align: right;
  clear: both;
  padding-top: 40px;
}

.concert a,
.concert a:active,
.concert a:focus,
.link-to-top a,
.link-to-top a:active,
.link-to-top a:focus {
  color: #444;
}

.concert a:hover,
.link-to-top a:hover {
  color: red;
}

.concert .title {
  font-family: 'Marck Script', cursive;
  font-size: 1.3em;
}
.concert p {
  text-align: justify;
}

.other_musicians {
  clear: both;
  border-bottom: 1px solid #444;
  margin-top: 20px;
}