body {
  font-family: arial;
  color: #444;
  background: url(/images/volute2.png) no-repeat fixed 40px 150px;
  background-color: #FAFAFA;
}

body.application {
  background: #FAFAFA;
}

a {
  color: #444;
}

a:active,
a:focus,
a:hover {
  color: red;
}

em {
  font-style: normal;
  font-weight: bold;
}

.script {
  font-family: 'Marck Script', cursive;
  font-size: 1.4em;
}

.application {
  margin: 0 auto;
  text-align: center;
}

.application h1 {
  display: none;
}

.application p span {
  display: block;
}

.intro {
  text-align: justify;
  text-indent: 20px;
}

.pages {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
}

.colophon {
  font-family: 'Marck Script', cursive;
  font-size: 1em;
  text-align: center;
}

.colophon li {
  display: inline;
  padding: 0;
  margin: 0;
}

.colophon li:before {
  display: inline;
  content: ' | ';
  color: red;
}

.colophon li:first-child:before {
  content: '';
}

.menu {
  font-family: 'Marck Script', cursive;
  font-size: 1.4em;
  text-align: right;
  float: right;
  padding: 0;
  margin: 20px 0;
  width: 70%;
}

.menu li {
  display: inline;
  padding: 0;
  margin: 0;
}

.menu li:before {
  display: inline;
  content: ' | ';
  color: red;
}

.menu li:first-child:before {
  content: '';
}

.menu li a {
  text-decoration: none;
  color: #444;
}

.menu li a:active,
.menu li a:focus,
.menu li a:hover {
  color: red;
}

.logo {
  float: left;
  margin: 0;
}

.main {
  clear: both;
}

.pages h2 {
  font-family: 'Marck Script', cursive;
  font-size: 1.8em;
  border-bottom: 1px solid #444;
  clear: both;
}

.pages h3 {
  font-size: 1em;
}

.musician {
  clear: both;
  margin-bottom: 40px;
}

.program,
.musician p {
  margin-top: 0;
  text-align: justify;
}

.musician h4 {
  display: none;
}

.musician img {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 200px;
}

.musician .left img {
  float: left;
  margin-left: 0px;
  margin-right: 20px;
}

.programs,
.years {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.programs li,
.years li {
  display: inline;
  padding: 0;
  margin: 0;
}

.programs li:before,
.years li:before {
  display: inline;
  content: ' | ';
  color: red;
}

.programs li:first-child:before,
.years li:first-child:before {
  content: '';
}

.programs li a,
.years li a {
  text-decoration: none;
  color: #444;
}

.programs li a:active,
.programs li a:focus,
.programs li a:hover,
.years li a:active,
.years li a:focus,
.years li a:hover {
  color: red;
}

.program,
.concert {
  clear: both;
  padding-top: 20px;
}

.program:first-child,
.concert:first-child {
  padding-top: 0px;
}

.program h4,
.concert h4 {
  font-size: 1.3em;
}

.repertoire .program {
  margin-top: 0;
  padding-top: 0;
}

.concert h4 {
  text-transform: capitalize;
}

.concert.without-image h4 {
  margin-bottom: 0;
  font-size: 1.2em;
}

.concert.without-image p {
  margin-top: 0;
}

.program span,
.repertoire span,
.concert span,
.intro span {
  font-family: 'Marck Script', cursive;
  font-size: 1.3em;
}

.program img,
.concert img {
  float: left;
  margin: 0 20px 20px 0;
}

.link-to-top {
  text-align: right;
  clear: both;
  padding-top: 40px;
}

.concert a,
.concert a:active,
.concert a:focus,
.link-to-top a,
.link-to-top a:active,
.link-to-top a:focus {
  color: #444;
}

.concert a:hover,
.link-to-top a:hover {
  color: red;
}

.concert p {
  text-align: justify;
}

.other_musicians {
  clear: both;
  margin-top: 20px;
}

.repertoire_title {
  padding-top: 40px;
}

.repertoire h3 {
  margin-bottom: 0px;
  font-size: 1.2em;
}

.repertoires td {
  vertical-align: top;
}

.news {
  font-family: 'Marck Script', cursive;
  font-size: 1.3em;
}

.group_picture {
  text-align: center;
  margin: 50px 0;
}

.media iframe {
  width: 100%;
}

.media img {
/*  width: 100%;*/
}

.photos .media {
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 1170px) {
  body {
    background: url(/images/volute2.png) no-repeat fixed 20px 150px;
  }
}

@media screen and (max-width: 1120px) {
  body {
    background: url(/images/volute2.png) no-repeat fixed 0px 150px;
  }
}

@media screen and (max-width: 1100px) {
  body {
    background: url(/images/volute2.png) no-repeat fixed 0px 150px;
    background-size: 5%;
  }
}

@media screen and (max-width: 920px) {
  body {
    background-image: none;
  }
}