%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:musicians, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:musicians, :new)

.tabs-content
  = form_for :musician, url(:musicians, :create), :class => 'form-horizontal' do |f|
    =partial 'musicians/form', :locals => { :f => f }
