%h2
  Contacts

%p
  %b
    Téléphone :
  = Setting.where(:key => "contact_phone_number").first.try(:value)
%p
  %b
    Email :
  = Setting.where(:key => "contact_email").first.try(:value)
%p
  %span
    Suivez-nous sur 
    %em
      Facebook :
  = link_to "https://www.facebook.com/EnsembleArtis", "https://www.facebook.com/EnsembleArtis", :target => "blank"
  
  

%h2
  Partenaires

%p
  %b
    Photo :
  %a{:href => "http://www.sarabou.fr/", :target => "_blank"} Sarah Bouillaud
%p
  %b
    Logo :
  %a{:href => "http://www.jeanpierrelamerand.com/", :target => "_blank"} Jean-Pierre Lamérand

%p
  %b
    Site :
  %a{:href => "http://www.facebook.com/stephane.akkaoui", :target => "_blank"} Stéphane Akkaoui