%h2
  Contacts

%p
  %b
    Téléphone :
  = Setting.where(:key => "contact_phone_number").first.try(:value)
%p
  %b
    Email :
  = Setting.where(:key => "contact_email").first.try(:value)
%p
  %span.script
    Suivez-nous sur Facebook :
  = link_to "https://www.facebook.com/EnsembleArtis", "https://www.facebook.com/EnsembleArtis", :target => "blank"