
%p.intro
  = Setting.where(:key => "home_text").first.try(:value).try(:gsub, "\n", "<br />").try(:html_safe)

%p.group_picture
  - if @setting.try(:image).present?
    = image_tag(@setting.image.url)


%h2
  Actualités

%p.news
  = Setting.where(:key => "news").first.try(:value).try(:gsub, "\n", "<br />").try(:html_safe)
