%h1
  Ensemble Artis

%p
  %a{:href => "/pages/intro"}
    = image_tag("band.jpg")
    %span
      Entrer

%p
  Photo : 
  %a{:href => "http://www.sarabou.fr/", :target => "_blank"}
    Sarah Bouillaud
   | 
  Logo :
  %a{:href => "http://www.jeanpierrelamerand.com/", :target => "_blank"}
    Jean-Pierre Lamérand
   | 
  Site :
  %a{:href => "http://www.facebook.com/stephane.akkaoui", :target => "_blank"}
    Stéphane Akkaoui
