%h1
  Ensemble Artis

%p
  %a{:href => "/pages/intro"}
    - if @setting.try(:image).present?
      = image_tag(@setting.image.url)


%ul.colophon
  %li
    Photo :
    %a{:href => "http://www.sarabou.fr/", :target => "_blank"} Sarah Bouillaud
  %li
    Logo :
    %a{:href => "http://www.jeanpierrelamerand.com/", :target => "_blank"} Jean-Pierre Lamérand
  %li
    Site :
    %a{:href => "http://www.facebook.com/stephane.akkaoui", :target => "_blank"} Stéphane Akkaoui
