%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:concerts, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:concerts, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:concerts, :edit, :id => @concert.id)

.tabs-content
  = form_for :concert, url(:concerts, :update, :id => @concert.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'concerts/form', :locals => { :f => f }
