%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:repertoires, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:repertoires, :new)

.tabs-content
  = form_for :repertoire, url(:repertoires, :create), :class => 'form-horizontal' do |f|
    =partial 'repertoires/form', :locals => { :f => f }
