!!! 5
%html{:lang => I18n.locale}
  %head
    %meta{:charset => 'UTF-8'}
    = csrf_meta_tags

    %title
      = t('.title')

    %link{ rel: 'icon', href: asset_path('favicon.ico') }
    = stylesheet_link_tag 'application'

  %body.application
    = yield
