- error = @setting.errors.include?(:key)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :key, :class => 'control-label'
  .controls
    =f.text_field :key, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:key, :class => 'text-error') : pat(:example)
- error = @setting.errors.include?(:value)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :value, :class => 'control-label'
  .controls
    ~f.text_area :value, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:value, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:settings, :index), :class => 'btn btn-default'