%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:settings, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:settings, :new)

.tabs-content
  = form_for :setting, url(:settings, :create), :class => 'form-horizontal' do |f|
    =partial 'settings/form', :locals => { :f => f }
